.default {
  border-radius: 0.25rem;
  display: inline-flex;
  appearance: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  transition: all 250ms ease 0s;
  user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 1.2;
  outline: none;
  height: 2.5rem;
  min-width: 2.5rem;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-right: 24px;

  background-color: #868e96;
  color: white;
  border: #868e96;

  cursor: pointer;

  &.solid {
    border: 1px solid currentcolor;
    &:hover {
      background-color: #495057;
    }
    &:active {
      background-color: #212529;
    }
  }

  &.outline {
    background-color: transparent;
    color: #868e96;
    border: 1px solid currentcolor;
    &:hover {
      background-color: #f1f3f5;
    }
    &:active {
      background-color: #dee2e6;
    }
  }

  &.ghost {
    background-color: transparent;
    color: #868e96;

    &:hover {
      background-color: #f1f3f5;
    }
    &:active {
      background-color: #dee2e6;
    }
  }

  &.link {
    background-color: transparent;
    color: #868e96;

    &:hover {
      text-decoration: underline;
      color: #495057;
    }
    &:active {
      text-decoration: underline;
      color: #212529;
    }
  }
}

.primary {
  background-color: #f03e3e;
  border: #f03e3e;
  color: white;
  &:hover {
    background-color: #e03131;
  }
  &:active {
    background-color: #c92a2a;
  }
}

.secondary {
  background-color: #d6336c;
  border: #d6336c;
  color: white;
  &:hover {
    background-color: #c2255c;
  }
  &:active {
    background-color: #a61e4d;
  }
}
